body {
	   background-color:#34e8eb;
	   text-align:center;
	   font-size:30px;
	   margin-right:auto;
	   font-family:Georgia;
	   
	   }
	   
	   img {
	   height:400px;
	   position:absolute;
	   left:550px;
	   top:500px;
	   
	   }
	   
	   h1{
		   position:absolute;
		   text-align:center;
		   color:
	   }
